<navbar class="navbar-fixed-top noselect">
  <!--<button type="button" class="navbar-toggler">☰</button>-->
  <!--<button type="button" class=""></button>-->
  <h1 class="navbar-title">{{ vm.i18n.AccountsTitle }}</h1>
  <!--<button type="button" class=""></button>-->
</navbar>
<main>
  <section class="scrollable noselect">
    <h1>You can find this template inside {{ vm.name }}.html</h1>
    <p style="height:1000px;background-color:blue">scroll test</p>
  </section>
  <section class="scroll-bar scroll-bar-vertical">
    <div class="scroll-bar-indicator fade in" style="height: 20px; transform-origin: center top 0px; translate3d(0px, 0px, 0px) scaleY(1);"></div>
  </section>
</main>
