<navbar class="navbar-fixed-top noselect">
  <!--<button type="button" class="navbar-toggler">☰</button>-->
  <!--<button type="button" class=""></button>-->
  <h1 class="navbar-title">{{ vm.i18n.AccountsTitle }}</h1>
  <!--<button type="button" class=""></button>-->
</navbar>
<main>
  <section class="scrollable noselect">
    <h1 class="page-title">You can find this template inside {{ vm.name }}.html</h1>
    <button type="button" class="btn btn-primary" ng-click="vm.log('click')">Button</button>
    <p style="height:1000px;background-color:blue">scroll test</p>
  </section>
  <scrollbar mode="vertical" />
</main>
